// Screen sizes
$mobile: 480px;
$tablet: 768px;

// Colors
$brand: #27ccc0;
$brand-info: #5E6BE1;
$grey-light: #EEEEEE;
$grey-middle: #BFBFBF;
$text-middle: #6E7178;
$text-dark: #333333;

// Shadows
$shadow-light: 15px 0px rgba(0, 0, 0, 0.05);
$shadow-mid: 15px 0px rgba(0, 0, 0, 0.1);

// Paddings
$p1: 13px;
$p2: 21px;
$p3: 34px;
$p4: 55px;